body{

font-family:Arial;

margin:0;

background:#f4f4f4;

}


header{

background:#0b7a3e;

color:white;

text-align:center;

padding:20px;

}


.categories{

text-align:center;

padding:10px;

background:white;

}


.categories button{

padding:8px 12px;

margin:5px;

border:none;

background:#0b7a3e;

color:white;

border-radius:5px;

cursor:pointer;

}


.categories button:hover{

background:#095c2f;

}


.audioList{

padding:15px;

}


.audio{

background:white;

padding:15px;

margin-bottom:15px;

border-radius:8px;

box-shadow:0 2px 5px rgba(0,0,0,0.1);

}


audio{

width:100%;

margin-top:10px;

}


footer{

text-align:center;

padding:15px;

background:#0b7a3e;

color:white;

}
